* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url("https://source.unsplash.com/1600x900/?landscape/");
}

.bigbox {
    background-color: black;
    width: 95%;
    max-width: 420px;
    opacity: 0,8;   
    padding: 20px;
    border-radius: 25px;
}

input {
    border: none;
    border-radius: 24px;
    outline: none;
    padding: 10px;
    font-size: 20px;
    background-color: #7c7c7c2b;
    color: white;
    width: calc(100% - 100px);
}

button {
    border: none;
    border-radius: 50px;
    outline: none;
    padding: 10px;
    background-color:  #7c7c7c2b;
    float: right;
    cursor: pointer;
}

button:hover {
    background-color: #7c7c7c6b;
}

.midbox {
    margin-top: 25px;
    margin-bottom: 20px;
}

.smallbox {
    display: flex;
    margin-top: 30px;
    align-items: center;
}

.lupa {
    height: 20px;
}

h2 {
    color: white;
    font-size: 28px;
}

.temp {
    color: white;
    margin-top: 30px;
}

.desc {
    color: white;
    text-transform: capitalize;
}

.umid {
    color: white;
    margin-top: 30px;
}